<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <script src="https://kit.fontawesome.com/48bc29b3d6.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="CSS/home.css">
    
</head>
<body>
    <h1 id="heading"> Todo App</h1>
    <hr>
    <form action="/create-task" method="post">
        <div class="discription-container">
            <h5 class="upper-case">Discription</h5>
            <textarea name="discription" id="discription-textarea" placeholder="what do you need to do?" required></textarea>
        </div>
        <hr>
    
        <div class="flex-container">
            <div class="div-left">
                <label for="category">CATEGORY</label> <br>
                <div class="dropdown-container">
                    <!-- dropdown menu -->
                    <select name="category" id="dropdown-category">
                        <option value="na">Select category</option>
                        <option value="personal">Personal</option>
                        <option value="work">Work</option>
                        <option value="school">School</option>
                        <option value="cleaning">Cleaning</option>
                        <option value="other">Other</option>
                    </select>
                </div>
            </div>
            <div class="div-right">
                <label for="due_date">DUE DATE</label> <br>
                <input type="date" id="due_date" name="due_date">
            </div>
        </div>
        <hr>
    
        <div class="button-container">
            <!-- add button -->
            <button id="add-btn">
                <i class="fas fa-plus"></i>  &nbsp; &nbsp; ADD TASK
            </button>
            <!-- delete button -->
            <button id="delete-btn" type="submit" form="tasks-list-form">
                <i class="fas fa-trash-alt"></i>  &nbsp; &nbsp; DELETE TASK
            </button>
        </div>
    </form>
    <hr>
    <div>
        <h2 id="your-tasks">YOUR TASKS</h2>
    </div>
    <hr>

    <!-- list of todo app from database -->
    <form action="/delete-task" method="post" id="tasks-list-form">
        <div class="list-container">
            <ul>
                <% for(let task of todoList) { %>
                    <li>
                        <div class="list-item-container">
                            <div class="list-item-left">
                                <input id="check" type="checkbox" name="id" value=" <%=task._id %>" class="checkbox-input">
                                <div>
                                    <label class="checkbox-label">
                                        <h3>&nbsp; &nbsp; <%= task.discription %></h3>
                                    </label>
                                    <h5>&nbsp; &nbsp; <i class="fa-solid fa-calendar-days"></i> &nbsp; <%= task.due_date %></h5>
                                </div>
                            </div>
                            <div >
                                <!-- <div>
                                    <h3 style="text-transform:capitalize; color: <%= colors[task.category] %> ;"><%= task.category %></h3>
                                </div> -->
                                <button type="button" class="list-item-right" style="background-color: <%= colors[task.category] %>;"> <%= task.category %> </button>
                            </div>
                        </div>
                    </li>
                <% } %>
            </ul>
        </div>
    </form>

</body>
</html>